{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/Base.css' %}">
  <title>Weather</title>
</head>
<body>
  <center>
  <h1>WEATHER CONDITION</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="country">Enter Country or City:</label>
   <input id="country" type="text" name="city">
   <input type="submit">
  </form>
  <p>City: {{city}}</p>
  <p>Countrycode: {{country_code}}</p>
  <p>Coordinate:{{coordinate}} </p>
  <p>Temperature: {{temp}} K</p>
  <p>Pressure: {{pressure}}</p>
  <p>Humidity: {{humidity}}</p>
  </center>
</body>
</html>